<h1>Albums</h1>

<ul>
  <% @albums.each do |album| %>
    <li><%= link_to album.title, album %> [<%= link_to 'delete', album, method: :delete %>]</li>
  <% end %>
</ul>

<%= link_to 'New album', new_album_path %>