<h1>Albums</h1>

<ul>
  <% @albums.each do |album| %>
    <li><%= link_to "#{album.artist} - #{album.title}", album %></li>
  <% end %>
</ul>

<%= button_to 'New album', new_album_path, method: :get, class: 'btn btn-primary' %>